server {

  listen 80 default_server;
  root /usr/share/zabbix;
  index index.php;

  access_log /var/log/nginx/zabbix_access.log ltsv;
  error_log /var/log/nginx/zabbix_error.log;

  location ~ \.php {
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }

}
